// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
    position: relative;
    top: 15px;
    background: #3b5998;
    color: white;
    padding: 20px;
    margin: 5px;
}

.social-btn:hover { 
    color: white;
    text-decoration: none;
    background: #6cb7e6;
}